#Practice set and below there are real code

In [ ]:
import pandas as pd



df1=pd.read_csv('order_region_a(in).csv')
df2=pd.read_csv('order_region_b(in).csv')

In [20]:
df1.head(5)

,OrderId,OrderItemId,QuantityOrdered,ItemPrice,PromotionDiscount,batch_id
0,171-0001135-1657958,1.116890e+13,1,949.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",359
1,171-0001497-9165123,1.976030e+13,1,699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",1135
2,171-0002127-1363507,5.949760e+12,1,399.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",297
3,171-0002370-0601169,5.757190e+13,1,499.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",114
4,171-0004526-2028348,3.385130e+13,1,1699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",764

In [22]:
df2.head(5)

,OrderId,OrderItemId,QuantityOrdered,ItemPrice,PromotionDiscount,batch_id
0,171-0001135-1657958,1.116890e+13,1,949.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",359
1,171-0001497-9165123,1.976030e+13,1,699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",1135
2,171-0002127-1363507,5.949760e+12,1,399.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",297
3,171-0002370-0601169,5.757190e+13,1,499.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",114
4,171-0004526-2028348,3.385130e+13,1,1699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",764

In [38]:
new_df=pd.concat([df1,df2],axis=0)

In [40]:
new_df.head(5)

,OrderId,OrderItemId,QuantityOrdered,ItemPrice,PromotionDiscount,batch_id
0,171-0001135-1657958,1.116890e+13,1,949.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",359
1,171-0001497-9165123,1.976030e+13,1,699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",1135
2,171-0002127-1363507,5.949760e+12,1,399.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",297
3,171-0002370-0601169,5.757190e+13,1,499.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",114
4,171-0004526-2028348,3.385130e+13,1,1699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",764

In [42]:
len(df1)

44494

In [44]:
len(df2)

44494

In [46]:
len(new_df)

88988

# Actal code starts from here

In [130]:
#importing required libraries 
import pandas as pd

In [132]:
#writing a function to read data from files

def read_data(file_path):
    try:
        df=pd.read_csv(file_path)
        return df
    except Exception as e:
        print(f"error Reading{file_path} :{e}")
        return None

In [134]:
res1=read_data('order_region_a(in).csv')

In [136]:
res1.head(5)

,OrderId,OrderItemId,QuantityOrdered,ItemPrice,PromotionDiscount,batch_id
0,171-0001135-1657958,1.116890e+13,1,949.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",359
1,171-0001497-9165123,1.976030e+13,1,699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",1135
2,171-0002127-1363507,5.949760e+12,1,399.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",297
3,171-0002370-0601169,5.757190e+13,1,499.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",114
4,171-0004526-2028348,3.385130e+13,1,1699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",764

In [138]:
res2=read_data('order_region_b(in).csv')

In [140]:
res2.head(5)

,OrderId,OrderItemId,QuantityOrdered,ItemPrice,PromotionDiscount,batch_id
0,171-0001135-1657958,1.116890e+13,1,949.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",359
1,171-0001497-9165123,1.976030e+13,1,699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",1135
2,171-0002127-1363507,5.949760e+12,1,399.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",297
3,171-0002370-0601169,5.757190e+13,1,499.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10.1""}",114
4,171-0004526-2028348,3.385130e+13,1,1699.0,"{ ""CurrencyCode"": ""INR"", ""Amount"": ""10""}",764

In [142]:
#Concatinating two tables to create new table

def concat(data1,data2):
    try:
        new_df=pd.concat([data1,data2],axis=0)
        return new_df
    except Exception as e:
        print("not posiible")
        return None

In [144]:
total_data=concat(res1,res2)

In [146]:
len(total_data)

88988

In [148]:
type(total_data['PromotionDiscount'])

pandas.core.series.Series

In [150]:
total_data['PromotionDiscount']

0          { "CurrencyCode": "INR", "Amount": "10"}
1        { "CurrencyCode": "INR", "Amount": "10.1"}
2          { "CurrencyCode": "INR", "Amount": "10"}
3        { "CurrencyCode": "INR", "Amount": "10.1"}
4          { "CurrencyCode": "INR", "Amount": "10"}
                            ...
44489    { "CurrencyCode": "INR", "Amount": "10.1"}
44490      { "CurrencyCode": "INR", "Amount": "10"}
44491    { "CurrencyCode": "INR", "Amount": "10.1"}
44492      { "CurrencyCode": "INR", "Amount": "10"}
44493    { "CurrencyCode": "INR", "Amount": "10.1"}
Name: PromotionDiscount, Length: 88988, dtype: object

In [152]:
#Here 'promotiondiscountcolumn'is s dictionary type we need to convert it into integer valuevalue, we 
import ast 
def convert_dict(strn):
    l=[]
    l2=[]
    for i in strn:
        l.append(ast.literal_eval(i))
    for j in l:
        l2.append(l[1].get('Amount')) 
    return l2

In [154]:
total_data['PromotionDiscount']=convert_dict(total_data['PromotionDiscount'])

In [155]:
total_data['PromotionDiscount']

0        10.1
1        10.1
2        10.1
3        10.1
4        10.1
         ...
44489    10.1
44490    10.1
44491    10.1
44492    10.1
44493    10.1
Name: PromotionDiscount, Length: 88988, dtype: object

In [ ]:
def transform_data(df):
    #creating new_column
    df['total_sales']=df['QuantityOrdered']*df['ItemPrice']
    #  creating new column as diff between total sale and promotiondiscount
    df['net_sale']=df['total_sales']-df['PromotionDiscount'] 
    #applying condition for net sale
    df=df[df['net_sale']>0]
    #droping duplicate values
    df.drop_duplicates(subset=['OrderId'],keep='first',inplace=True)

    return df

In [ ]:
transform_data(total_data)

In [162]:
#creating connection to import data

import sqlite3

In [166]:
#function to creating table
def load_data(df, db_name="sales.db"):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS sales_data (
            OrderId INTEGER PRIMARY KEY,
            OrderItemId INTEGER,
            QuantityOrdered INTEGER,
            ItemPrice REAL,
            PromotionDiscount REAL,
            total_sales REAL,
            net_sale REAL,
            region TEXT
        )
    """)